{{!

NOTE: Please edit the text *below* this section; The text in this 
section is documentation and will not be rendered.

PURPOSE: This template is used to respond to any messages that the
system cannot understand.

VARIABLES AVAILABLE:
* clerkPhone: Phone number to contact for further information.

}}

Sorry, I didn't understand that. Please call {{clerkPhone}} with questions.