{{!

NOTE: Please edit the text *below* this section; The text in this 
section is documentation and will not be rendered.

PURPOSE: This template is used to respond to defendants unsubscribing from
an existing case subscription. 

VARIABLES AVAILABLE:
* caseNumber: Number of case from which defendant has been unsubscribed.
              E.g. 13-T-002183

}}

Thanks! You will no longer receive reminders for case # {{caseNumber}}.
