{{!

NOTE: Please edit the text *below* this section; The text in this 
section is documentation and will not be rendered.

PURPOSE: This template is used to respond to defendants subscribing to
a case.

VARIABLES AVAILABLE:
* caseNumber: Number of case to which defendant has been subscribed.
              E.g. 13-T-002183

}}

This case will be heard on {{courtDate}}, at {{courtTime}}. We will send you a reminder text message a week before the court date.


