{{!

NOTE: Please edit the text *below* this section; The text in this 
section is documentation and will not be rendered.

PURPOSE: This template is used to respond to defendants subscribing to
a case.

VARIABLES AVAILABLE:
* caseNumber: Number of case to which defendant has been subscribed.
              E.g. 13-T-002183
* nextCourtDate: Date of next court appearance. E.g. Tuesday, 4 September 2013
* nextCourtTime: Time of next court appearance. E.g. 9:00 AM

}}

This case will be heard on {{nextCourtDate}}, at {{nextCourtTime}}. We will send you a reminder text message a week before the court date.


