{{!

NOTE: Please edit the text *below* this section; The text in this 
section is documentation and will not be rendered.

PURPOSE: This template is used to respond to defendants who are already
subsribed to a case but are trying to subscribe to another one (which is
currently not allowed by the system).

VARIABLES AVAILABLE:
* caseNumber: Number of case to which defendant has already been
              subscribed. E.g. 13-T-002183

}}

Sorry, you are already subscribed to case # {{caseNumber}}.
