{{#defendantNameExists}}
This case is about {{prospectiveDefendantName}}. Is this the case you want us to remind you about? Text YES or NO.
{{/defendantNameExists}}

{{^defendantNameExists}}
This case is about {{title}}. Is this the case you want us to remind you about? Text YES or NO.
{{/defendantNameExists}}
